* {
    margin: 0;
    padding: 0;
}
header {
    width: 50%;
    max-width: 1700px;
    position: sticky;
    text-align: end;
    padding: 25px;
    background-color: #fff;
    display: flex;
    margin-left: 780px;
}

header h1 {
    width: 180px;
    text-align: center;
    display: inline-block;
    font-family: sans-serif;

}

nav h1{
    color: #000;
    width: 180px;
    text-decoration: none;
}

nav a ::after {
    content: " ";
    display: block;
    height: 3px;
    width: 0;
    background: #5edfff;
    transition: .5s ease-out;
}

nav a:hover ::after {
    width: 140px;
    margin-left: 20px;
}


.box {
    width: 179px    ;
    background-color: #453074;
    display: inline-block;
    height: 51px;
    margin-right: 8px;
    height: 51px;
    box-shadow: 3px 3px 0px 1px #ee3a78;
}
.box a :hover {
    background-color: #01d5c9;
    height: 51px;
}

figure {

    width: 100%;

    background-image: url(../img/3.png);
    position: absolute;
    background-size: cover;
    padding: -20px;   
}
.text {
    position: relative;
    text-align: center  ;
    font-size: 44px;
    height: 500px;
    color: #fff;
}
.text h1 {
    color: #01d5c9;
}
.text p {
    margin-top: 100px;
    font-family: sans-serif;
}
article {
    width: 700px;
    margin-top: 630px;
    text-align: justify;
    margin-left: 560px;
    font-family: sans-serif;
}

article h4 {
    margin-bottom: 50px;
    font-size: 26px;
    text-align: center; 
}

article h3 {
    margin-top: 20px;
    font-size: 26px;
    text-align: center;
    width: 160px;
    margin-left: 270px;
    background-color: #453074;
    margin-bottom: 20px;
    color: #fff;
    box-shadow: 3px 3px 0px 1px #36e3bd;
    padding: 10px;
}

article h3:hover {
    background-color: #ee3a78;
}

.gradiente {
    background-image: linear-gradient(to right, #ee3a78 , #ffbb17 );
    width: 100%;
    height: 650px;
}
.quadros {
    width: 1600px;
    margin-left: 200px;
    margin-top: -580px;
}

.quadros span {
    font-size: 35px;
    margin-left: 185px;
}

.quadros p {
    text-align: center;
    margin: 20px;
}

.quadros a {
    margin-left: 185px;
    text-decoration: none;
}

.box1 {
    background-color: #fff;
    width: 460px;
    height: 500px;
    display: inline-block;
    margin-left: 35px;
}

.box2 {
    background-color: #fff;
    width: 460px;
    height: 500px;
    display: inline-block;
    margin-left: 35px;
    position: absolute;

}

.box3 {
    background-color: #fff;
    width: 460px;
    height: 500px;
    display: inline-block;
    margin-left: 530px;
    position: absolute;

}
.hover {
    margin-top: 40px;
    margin-left: 235px;
    width: 1450px;
    height: 80px;
    background-image: linear-gradient(to right, #1639f3  , #36e3bd );

}.hover p {
    color: #fff;
    margin-top: 30px;
    margin-left: 40px;
    position: absolute;
}
.hover h4 {
    margin-top: 10px;
    margin-left: 1130px;
    position: absolute;
    color: #fff;
    background-color: #453074;
    height: 60px;
    width: 300px;
    text-align: center;
    box-shadow: 3px 3px 0px 1px #ee3a78;
}
.hover h4:hover{
    background-color: #fff;
    color: #000;
}

section {
    text-align: justify;
    width: 1400px;
    margin-left: 420px;  
    display: flex;  
}

h2 { 
    margin-top: 35px;
    width: 170px;
    margin-left: 520px;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    color: #36e3bd;
}

section p {
    margin-top: 35px;
    width: 700px;
    height: 60px;
    text-align: center;
}

.shadow p {
    font-size: 40px;
    width: 400px;

}
.shadow span {
    text-shadow: 2px 2px 0 #01d5c9;
    font-size: 40px;
    margin-left: 52px;

}

.img {
    width: 200px;
    display: flex;
    margin-left: 420px;
}

.img img {
    padding: 9px;
    margin-left: 45px;
    box-shadow: 0 0 7px 0px;
    margin-top: 45px;
}

footer {
    align-items: center;
    vertical-align:middle;
    margin-top: 25px;
    background-color: #453074;
    padding: 30px;
    height: 300px;
    color: #fff;
    font-size: 20px;
    display: flex   ;
}
footer p {
    margin-left: 200px;
    margin-top: -100px;
}

ul {
    list-style: none;
    margin-left:  200px;
    line-height: 40px;
}

h3 {
    margin-bottom: 10px;
}

li {
    border-bottom: 1px solid #aaa;
    width: 250px;
}





